@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{  
    font-family: 'Ubuntu', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
}

.main-body .navigation{
    color: white;
    background-color: rgb(20, 153, 153);
    height: 70px;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul{
    list-style-type: none;
    display: flex;
    /* justify-content: space-around; */
}

.navigation ul li{
    padding: 8px;
}

.navigation ul li a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px;
    font-size: 20px;
    transition: all 0.2s;
}

.navigation ul li a:hover{
    border-bottom: #ff3838 2px solid;
}