*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}

.main-body .navigation{
    height: 70px;
    border: 2px solid black;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation ul{
    padding: 15px;
    border: 2px solid red;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.navigation ul li{
    border: red solid 2px;
    margin: 0px 20px;
}

.navigation ul li a{
    padding: 10px;
    border: 2px solid rgb(3, 93, 83);
}